# Python #
__pycache__/
*.py[cod]
*.so
*.egg-info/
*.egg

# Virtual environment #
venv/
env/
ENV/
*.venv

# Django #
*.log
db.sqlite3
db.sqlite3-journal
/media/
staticfiles/
static/

# Secrets & Configs #
.env
*.ini
config.json

# Migrations (если не хочешь коммитить их) #
**/migrations/*.py
!**/migrations/__init__.py

# IDE / Editor #
.vscode/
.idea/
*.sublime-workspace

# macOS #
.DS_Store

# Windows #
Thumbs.db